body{
    text-align: center;
}
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8{
    height: 200px;
    width: 300px;
}
.container
{
    text-align: center;
}
#myCarousel{
    background-color: white;
    
}
#myCarousel img{
    height: 400px;
    margin-top: 35px;
}

